@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
:root {
    /* PRIMARY COLORS */
    /* ==>TEXT */
    --pale-violet: hsl(276, 100%, 81%);
    --moderate-violet: hsl(276, 55%, 52%);
    --desat-dark-violet: hsl(271, 15%, 43%);
    --gray-blue: hsl(206, 6%, 79%);
    --very-dark-desat-violet: hsl(271, 36%, 24%);
    --dark-gray-violet: hsl(270, 7%, 64%);

    /*  ==>GRADIENTS */
    --light-magenta: hsl(293, 100%, 63%);
    --light-violet: hsl(264, 100%, 61%);

    /* -------------------- */

    /* SECONDARY COLORS */
    --light-gray-violet: hsl(270, 20%, 96%);
    --very-dark-desat-violet: hsl(271, 36%, 24%);
    --very-light-magenta: hsl(289, 100%, 72%);

    /* ----------------- */

    --main-head-clr: var(--very-dark-desat-violet);
    --sub-head-clr: var(--pale-violet);
    --placeholder-clr: var(--gray-blue);
    --main-paragraph-clr: var(--dark-gray-violet);
    --app-bg: var(--light-gray-violet);
    --submit-btn-bg: var(--very-dark-desat-violet);
    --radio-btn-ouline-clr: var(--very-light-magenta);
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    background-color: var(--app-bg);
    overflow-x: hidden;
}

body::after {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    left: -225px;
    width: 450px;
    max-width: 450px;
    line-height: 1.3;
    height: 60vh; /*700px */
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
    background: linear-gradient(to bottom, var(--light-magenta), var(--light-violet));
    transition: height 350ms ease-in-out;
}
body::before {
    content: '';
    position: fixed;
    opacity: 0.05;
    z-index: -1;
    right: -150px;
    bottom: 0;
    width: 450px;
    height: 60vh;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    background: linear-gradient(to bottom, var(--light-magenta), var(--light-violet));
    transition: height 350ms ease-in-out;
}
img {
    width: 100%;
}

.mt-16 {
    margin-top: 16px;
}

.mb-16 {
    margin-bottom: 16px;
}

.flex {
    display: flex;
}

.ai-c {
    align-items: center;
}

.jc-sb {
    justify-content: space-between;
}
.messages .no-bg {
    background-color: transparent;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 64px auto;
}

.intro {
    text-align: center;
    margin-top: 70px;
}

.intro h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 32px;
    color: var(--very-dark-desat-violet);
}

.intro p {
    color: var(--dark-gray-violet);
    max-width: 450px;
    line-height: 1.6;
}

.phone {
    width: 256px;
    min-width: 256px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

.phone-gap {
    position: absolute;
    background-color: white;
    width: 55%;
    border-radius: 50px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 25px;
    z-index: 3;
}

.btn {
    position: absolute;
    top: 37px;
}

.option-btn {
    right: 11px;
}

.back-btn {
    left: 11px;
}

.app {
    width: 100%;
    background-color: var(--app-bg);
    border-radius: 15px;
    overflow: hidden;
}

.app-head {
    width: 100%;
    height: 66px;
    background: linear-gradient(to right, var(--light-violet), var(--light-magenta));
    position: relative;
}
.user-info {
    display: flex;
    align-items: center;
    margin-left: 27px;
    margin-bottom: 14px;
    padding-top: 30px;
}

.user-photo {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 10px;
    border: 1px solid white;
}
.user-name {
    font-size: 10px;
    font-weight: 500;
    color: white;
    margin-bottom: 6px;
}

.status {
    font-size: 7px;
    color: var(--pale-violet);
}
.messages {
    margin: 11px 10px;
}
.img-list > * {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.img-list > * + * {
    margin-left: 8px;
}
.message {
    font-size: 9px;
    max-width: 130px;
    padding: 8px 7px;
    line-height: 1.6;
    border-radius: 12px;
    margin-bottom: 8px;
    clear: both;
}

.walker-message {
    color: var(--moderate-violet);
    background-color: hsl(270, 20%, 93%);
    border-bottom-left-radius: 0;
}

.client-message {
    float: right;
    border-bottom-right-radius: 4px;
    background-color: white;
    color: var(--desat-dark-violet);
}

.pricing {
    background: linear-gradient(to right, var(--light-violet), var(--light-magenta));
}

.pricing-message {
    padding: 12px 8px;
    border-radius: 12px;
    border-bottom-left-radius: 4px;
    width: 160px;
    max-width: 160px;
    color: white;
    font-size: 9px;
    padding-left: 32px;
    position: relative;
    margin-bottom: 8px;
}

.pricing-message::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border: 1px solid var(--very-light-magenta);
    /* background-color: black; */
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
}

.price {
    font-weight: 500;
    font-size: 16px;
}

.input-box {
    padding-left: 18px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 10px;
    margin-top: 16px;
    color: var(--placeholder-clr);
    background-color: white;
    border-radius: 100px;
    position: relative;
}

.send-btn {
    background-color: var(--very-dark-desat-violet);
    width: 18px;
    height: 18px;
    padding: 4px;
    border-radius: 100%;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}
@media screen and (min-width: 1024px) {
    body::after {
        height: 700px; /*700px */
        left: -50px;
    }
    body::before {
        height: 700px; /*700px */
        right: -225px;
    }

    .main {
        flex-direction: row;
        justify-content: center;
    }
    .intro {
        text-align: left;
        margin: 0;
        /* max-width: 450px; */
        margin-left: 8rem;
    }

    .phone {
        margin-left: 4rem;
    }
}

.attribution {
    font-size: 14px;
    text-align: center;
    color: var(--very-dark-desat-violet);
    padding: 10px;
    border-radius: 2px;
}
.attribution a {
    color: purple;
}
